.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
  max-width:none;
  margin: 0;
  padding: 0;

  @media(min-width:767px){
    align-items: flex-start;
  }

  @media(min-width:1023px){
    align-items: flex-end;
  }

  @media(min-width:1440px){
    max-width:1330px;
    margin: 0 auto;
  }
  
  a {
    order: 2;
  }
}

.logo {
  position: absolute;
  top: 64px;
  left: 20px;
  display: flex;
  order: 2;

  .current-page {
    display: flex;
    
    span {
      color:$color-main;
      font-size: 19px;
      position: relative;
      top: -2px;

      @media(min-width:767px){
        font-size: 38px;
      }
    }
  }

  @media(min-width:767px){
    position: static;
    padding-left: 23px;
  }

  @media(min-width:1023px){
    position: absolute;
    left: 60px;
    top: 50px;
    padding: 0;
  }

  @media(min-width:1440px){
    top: 51px;
    left: 5px;
  }
}

.header-contacts {
  display: flex;
  align-items: baseline;
  width: 100vw;
  justify-content: space-between;
  padding: 17px 20px 24px 21px;

  >div{
    position: relative;

    @media(min-width:767px){
     &[class^="sep"]:after {
        content: "";
        position: absolute;
        right: 5px;
        top: calc(50% - 3px);
        display: block;
        width: 6px;
        height: 6px;
        background-color: $color-gray-separator;
        border-radius: 50%;
      }
    }
  }

  .sep-address {
    display: none;
    color: $color-gray-text;
    font-size: 16px;

    @media(min-width:767px){
      display: block;
    }
  }

  .sep-phone-number:hover a,
  .faceboock-link:hover i {
    color: $color-active-regular;
  }

  @media(min-width:767px){
    justify-content: left;
    padding: 20px 20px 20px 23px;
    order:1;

    div {
      padding-right: 28px;
    }
  }

  @media(min-width:1023px){
    justify-content: flex-end;
  }

  @media(min-width:1440px){
    padding-top: 52px;
    padding-right: 0px;
  }
}

.sep-phone-number a,
.faceboock-link i,
.main-nav a{
  &:hover {
    color:$color-accent;
  }
}

.header.black-bg {
  .sep-phone-number a,
  .faceboock-link i,
  .sep-lang a,
  .active-lang{
    color: $color-white;
  }
  
  @media(min-width:768px){
    .main-nav a{
      color: $color-white;
    }
  }

  .sep-phone-number a,
  .faceboock-link i,
  .main-nav a{
    &:hover {
      color:$color-accent;
    }
  }
  
  .sep-lang a{
    &:hover{
      background: $colo-gray-bg-alt-black-bg;
    }  
  }

  .burger-icon span,
  .burger-icon:after,
  .burger-icon:before {
    background: $color-burger-menu-white;
  }

  .active {
    @media(min-width:767px){
      border-bottom: 2px solid $color-white;
    }
  }

}

.sep-lang {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;

  a {
    padding: 4px 6px;
    border-radius: 8px;
    font-size: 12px;
    color: $color-gray-text;
    &:hover{
      background: $colo-gray-bg-alt;
    }
  }

  .active-lang {
    background: $color-accent;
    color: $color-white;
    pointer-events: none;
  }
}

.sep-phone-number {
  font-weight: bold;

  a{
    font-size: 16px;
    color: $color-gray-text;
  }
}

.faceboock-link {
  display: none;

  i {
    color: $color-gray-text;
    font-size: 24px;
  }

  @media(min-width:767px){
    display: block;
  }
}

.header-contacts .faceboock-link {
  @media(min-width:1023px){
    padding-right: 0;
  }
}

.main-nav {
  font-size: 18px;

  .active {
    color: $color-accent;
    pointer-events: none;
    @media(min-width:767px){
      border-bottom: 2px solid $color-accent;
    }
  }

  @media(min-width:767px){
    order: 3;
    padding-left: 15px;

    .burger-icon{
      display: none;
    }
  }

  @media(min-width:1023px){
    margin-top: 20px;
  }
  @media(min-width:1440px){
    margin-top: -7px;
  }
}

.nav-menu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
  padding-right: 16px;

  @media(max-width: 768px){
    overflow: hidden;
  }

  @media(min-width:1440px){
    padding-right: 0;
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
    
  li {
    padding: 0 8px;
    @media(min-width:1440px){
      padding: 0 0 0 18px;
    }
  }

  .burger-icon:before {
    transform: translateY(6px) rotate(135deg);
  }

  .burger-icon:after {
    transform: translateY(-6px) rotate(-135deg);
  }

  .burger-icon span{
    transform: scale(0);
  }
  
  @media(min-width:767px){
    visibility: visible;
    opacity: 1;
    display: flex;
    transform: translateY(0);

    ul {
      display: flex;
    }

    img {
      display: none;
    }
  }
}

.burger-icon span,
.burger-icon:after,
.burger-icon:before {
  background: $color-burger-menu;
  content: "";
  width: 20px;
  display: block;
  height: 2px;
  margin: 4px 7px;
  transition: 0.5s;
}

#burger {
  display: none;
}

#burger:checked ~ .nav-menu {
  display: block;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  right: 0;
  background: $color-white;
  text-align: center;
  padding: 24px 0;
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;

  img {
    margin-bottom: 7px;
  }
  
  a {
    display: block;
    padding: 13px 0;
    font-size: 24px;
    line-height: 28px;
  }
  
  ul{
    display: block;
  }

  li {
    padding: 0;
    margin-bottom: 1px;
    background: $color-gray-bg;
  }

  .burger-icon {
    position: absolute;
    top: 27px;
    right: 9px;
    
    & span,
    &::after,
    &::before{
      background: $color-nav-menu-close;
    }
  }
}

#burger:checked ~ .sep-lang,
#burger:checked ~ .contact-wrapper {
  display: none;
}