.services-page {
  .logo {
    a {
      display: flex;
      span {
        color: $color-white;
      }
    }
  }
  .services {
    padding-top: 124px;
    @media(min-width: 768px){
      padding-top: 190px;
      h2 {
        padding: 0 15px;
      }
    }
  }
}