.bg-banner {
  background: $liner-gradient-banner-bg-mob;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 34px;
  @media(min-width: 1440px){
    margin-bottom: 59px;
  }
}

.bg-banner::before{
  content: "";
  width: 97%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #CACADB;
  z-index: -1;
  border-radius: 0 0 12px 12px;
}

.bg-banner::after{
  content: "";
  width: 94%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #E7E7F2;
  z-index: -2;
  border-radius: 0 0 12px 12px;
}

.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:$color-white;
  font-size: 38px;
  background: url("../img/banner-Shade.png")no-repeat bottom, url("../img/Symbol-Long-banner.png")no-repeat center,$liner-gradient-banner-bg;
  position: relative;
  
  @media(min-width: 768px){
    background: $liner-gradient-banner-shadow, url("../img/Symbol-Long-banner.png")center/auto no-repeat,url("../img/bg-particals-svg.svg")center/auto no-repeat,$liner-gradient-banner-bg;
  }

  @media(min-width: 1440px){
    background: $liner-gradient-banner-shadow, url("../img/Symbol-Long-banner.png")bottom/auto no-repeat,url("../img/bg-particals-svg.svg")bottom/auto no-repeat,$liner-gradient-banner-bg;
  }
  
  @media (orientation: landscape) and (min-width:375px) and (max-width: 1000px) {
    background: $liner-gradient-banner-shadow, url("../img/Symbol-Long-banner.png")right/100% no-repeat,url("../img/bg-particals-svg.svg")right/100% no-repeat,$liner-gradient-banner-bg;
    background-size: 100vw, 50vw, 50vw;
    background-repeat: no-repeat;
  }
  
  .text-box {
    display: block;
    line-height: 1.2;
    margin-bottom: 55px;
    @media(min-height:375px){
      margin-top: 60px;
    }
    @media(min-height:550px){
      margin-top: 0;
    }
    
    @media(min-width:768px){
      margin-bottom: 0;
      max-width: 60vw;
    }
    @media(min-width:1024px){
      max-width: 60vw;
    }
    @media(min-width:1440px){
      max-width: 40vw;
      margin-top: 7px;
      margin-left: -12px;
    }
  }
}

.arrow-btn {
  position: absolute;
  bottom: 8%;
  left:50%;
  transform: translateX(-50%);
  @media(min-width:1440px){
    bottom: 2.5%;
  }

  a {
    display: flex;
    justify-content: center;
    border: 1px solid $color-white;
    border-radius: 50%;
    height: 42px;
    width: 42px;
  }
  .arrow {
    width: 18px;
    height: 18px;
    border: solid $color-white;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
    margin: 6px 0 0px 0px;
  }
}
