.clients-wrapper{
  font-size: 14px;
  text-transform: uppercase;
  color: $color-main;
  text-align-last: center;
  
  h3 {
    font-size: 14px;
    margin: 31px 0;
    @media(min-width: 768px){
      margin: 36px 0;
    }
  }
  
  .clients {
    display: flex;
    flex-wrap: wrap;
  }

  .client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90px;
    @media(min-width: 768px){
      width: 33.33%;
    }
    @media(min-width: 1440px){
      width: 25%;
      height: 120px;
    }

    img {
      max-width: 150px;
      max-height: 90px;
      @media(min-width: 768px){
        max-width: 230px;
        max-height: 55px;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
}