.expirience {
  color: $color-white;  
  padding-bottom: 52px; 
  @media(min-width:1440px){
    padding-bottom: 5px; 
  }

  .mob-subtitle {
    background: linear-gradient(to right, $color-accent, $color-text-gradient2);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 15px;
    @media(min-width:768px){
      display: none;
    }
  }

  h2 {
    margin: 0;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 400;
    @media(min-width:768px){
      font-size: 32px;
    }
    @media(min-width:768px){
      margin-bottom: 20px;
    }
    
  }

  .slider-wrap {
    padding: 0 5px;
    @media(min-width:768px){
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    @media(min-width:1440px){
      justify-content: flex-end;
      padding-top: 38px;
    }
  }

  .slider-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    padding: 0;
    padding-left: 12px;

    @media(min-width:768px) {
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    line-height: 1.2;
    padding: 0;
    border-right: 4px solid $color-gray-separator;
    }

    @media(min-width:1024px){
      font-size: 42px;
    }

    @media(min-width:1440px){
      max-width: 43%;
    }
    
    li {
      position: relative;
      padding: 0 15px;
      @media(min-width: 1024px){
        padding: 0 40px;
      }

      @media(min-width: 1440px){
        padding-bottom: 21px;      
      }
    }

    li:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background:$color-active-regular;
      opacity: 0.2;
      border-radius: 50%;
      @media(min-width:768px){
        width: auto;
        height: auto; 
        border-radius: 0;
        opacity: 1;
        background:transparent;
      }
    }

    .li-active:after {
      opacity: 1;
    }

    .li-active {
      @extend %text-gradient-reverce;
    }

    @media(min-width:768px){
      .li-active:before{
        content: "";
        position: absolute;
        height: 43px;
        width: 4px;
        background: $color-accent;
        top: 0;
        right: -4px;
      }
    }
  }

  .slider-content {
    line-height: 1.45;
    @media(min-width: 768px){
      line-height: 1.7;
      padding-left: 20px;
    }
    @media(min-width: 1024px){
      padding-left: 40px;
    }
    @media(min-width: 1440px){
      padding-left: 40px;
      max-width: 50%;
    }
  }

  .subtitle:hover {
    @extend %text-gradient-reverce;
    cursor: pointer;
  }
}