.gallery-indication {
  display: flex;
  justify-content: space-around;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      position: relative;
      padding: 15px;
    }

    li:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $color-active-regular;
      opacity: 0.2;
    }

    li.current-item:before {
      opacity: 1;
    }
  }
}