.pagelink {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  &:hover {
    color: $color-accent;
    .arrow {
      border-color: $color-accent;
    }
  }

  .arrow {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: solid $color-active-regular;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: -8px;
  }
}
