.switch-button {
  background: $color-gray-separator;
  border-radius: 12px;
  overflow: hidden;
  width: 268px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: $color-main;
  position: relative;
  padding: 2px 130px 2px 2px;
  position: relative;
  margin: 0 auto 22px;
  font-weight: 500;


  &:before {
    content: "компанія";
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    width: 126px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateX(127px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 6px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: $color-white;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 10px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}