.team-member-card {
  display: flex;
  margin-top: 18px;
  max-width: 50%;
  align-items: flex-end;

  @media(min-width:768px){
    padding: 0 15px;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;

  }

  @media(min-width:1024px){
    width: 413px;
    a { 
     width: 100%;
    }
  }

  img {
    width: 158px;
    height: 191px;
    border-radius: 12px;

    @media(min-width:768px){
      width: 413px;
      height: 100%;
    }
  }

 .team-member-page {
    background: $color-gray-bg;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid $color-active-regular;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg)
  }

  .team-member-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 16px;
    padding-top: 27px;

    @media(min-width:1024px){
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      padding-top: 10px;
      align-items: center;
    }

    h4 {
      font-size: 18px;
      color: $color-main;
      margin: 0;
      margin: 10px 0 6px;
    }

    .position {
      font-size: 16px;
      color: $color-gray-text;
    }
  }
}