$color-body-text:#000;
$color-burger-menu: #000;
$color-burger-menu-white: #fff;
$color-main:#323264;
$color-main-alt:#46466e;
$color-main-soft: #686887;
$color-active-regular:#24a3ff;
$color-active-hover:#0085ff;
$color-active-active:#006cff;
$color-accent:#f0145a;
$color-nav-menu-close: #ec6f5d;
$color-text-gradient2: #ef8080;
$color-gray-bg:#f5f5fa;
$colo-gray-bg-alt:#ededf7;
$colo-gray-bg-alt-black-bg:rgba(237, 237, 247, 0.4);
$color-gray-text:#b3b3ba;
$color-gray-separator:#e6e6f0;
$color-white:#fff;

$liner-gradient-banner-bg-mob: linear-gradient(200deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$liner-gradient-banner-bg:linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$liner-gradient-banner-shadow: linear-gradient(180deg, rgba(50, 50, 100, 0) 75%, #323264 100%);
$liner-gradient-button-swadow:linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
$liner-gradient-banner-servie-bg:linear-gradient(200deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);


%text-gradient {
  background: linear-gradient(to right, $color-accent, $color-text-gradient2);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

%text-gradient-reverce {
  background: linear-gradient(to left, $color-accent, $color-text-gradient2);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

%h1-desktop {
  font-size: 42px;
  line-height: 1.2;
}

%h1-mobile {
  font-size: 32px;
  line-height: 1.2;
}

%h2-desktop {
  font-size: 32px;
  line-height: 1.2;
}

%h2-mobile {
  font-size: 22px;
  line-height: 1.2;
}

%h3-desktop {
  font-size: 24px;
  line-height: 1.2;
}

%h3-mobile {
  font-size: 32px;
  line-height: 1.2;
}

%h3-caps {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

%h4-mobile {
  font-size: 21px;
  line-height: 1.2;
}

%introduction {
  font-size: 21px;
  line-height: 1.4;  
}

%container {
  max-width:1350px;
  margin: 0 auto;
  padding: 0 15px;
}

